<!-- BEGIN: Header -->
<header class="py-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-lg font-bold">pedro xavier 🇧🇷</h1>
        <nav>
            <ul class="flex space-x-4">
                <li>
                    <a href="https://www.linkedin.com/in/pdrxavier/" target="_blank">
                        <img src="/assets/svg/contact/linkedin.svg" class="h-8 w-8">
                    </a>
                </li>
                <li class="ms-auto">
                    <a href="/calculus" target="_blank">
                        Cálculo Numérico
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- END: Header -->
