---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

a {
    color: #1a202c;
    text-decoration: underline;
}

a:hover {
    opacity: 0.5;
}

h6.topic {
    font-weight: 700;
    line-height: 1.2;
    opacity: .6;
    margin-bottom: 1rem;
    color: #333333;
    text-transform: uppercase;
}